
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InnerPeace</title>
    <link rel="stylesheet" href="css/awal.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="gambar/logo.png" alt="InnerPeace Logo" class="logo">
            <h1 class="title">INNERPEACE</h1>
        </div>
        <div class="menu">
            <a href="/konsultasi">
              <div class="menu-item">
                <img src="gambar/konsultasi.jpg" alt="Konsultasi" class="menu-icon">
                <span>KONSULTASI</span>
              </div>
            </a>
            <a href="/list_tips">
              <div class="menu-item">
                <img src="gambar/tips.jpg" alt="Tips dan Trick" class="menu-icon">
                <span>TIPS DAN TRICK</span>
              </div>
            </a>
            <a href="game.html">
              <div class="menu-item">
                <img src="gambar/game.jpg" alt="Game Rileks" class="menu-icon">
                <span>GAME RILEKS</span>
              </div>
            </a>
            <a href="tes.html">
              <div class="menu-item">
                <img src="gambar/tes.jpg" alt="Tes Kesehatan Mental" class="menu-icon">
                <span>TES KESEHATAN MENTAL</span>
              </div>
            </a>
        </div>
          
    </div>
</body>
</html>
