<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konsultasi</title>
    <link rel="stylesheet" href="css/konsultasi.css">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="gambar/konsultasi.jpg" alt="Logo" >
        </div>
        <div class="title">KONSULTASI</div>

        <div class="subtitle1">APA KELUHAN ANDA?</div>
        <a href="/konsultasi/hasil?issue=Stres dan kecemasan" class="button">STRESS DAN KECEMASAN</a>
        <a href="/konsultasi/hasil?issue=Depresi" class="button">DEPRESI</a>
        <a href="/konsultasi/hasil?issue=Masalah%20Hubungan" class="button">MASALAH HUBUNGAN</a>
        <a href="/konsultasi/hasil?issue=Trauma" class="button">TRAUMA</a>
        


        <a href="/home" class="exit">KELUAR</a>
    </div>
</body>
</html>
