<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list tips</title>
    <link rel="stylesheet" href="/css/tips.css">
</head>
<body>
    <div class="container">
        <div class="sticky-header">List Tips And Trik</div>

           <a href="/tips_trik?id=1" class="kotak_tips">
              <div class="deskripsi_tips">
                 <p>Tips 1: eruvbtivthbeituvhnekj</p>
              </div>
              <div class="gambar_tips">
                 <img src="/gambar/tips.jpg" alt="Gambar Tips">
              </div>
           </a>

           <a href="/tips" class="kotak_tips">
            <div class="deskripsi_tips">
               <p>Tips 2: eruvbtivthbeituvhnekj</p>
            </div>
            <div class="gambar_tips">
               <img src="/gambar/tips.jpg" alt="Gambar Tips">
            </div>
           </a>
            
           <a href="/tips" class="kotak_tips">
            <div class="deskripsi_tips">
               <p>Tips 3: eruvbtivthbeituvhnekj</p>
            </div>
            <div class="gambar_tips">
               <img src="/gambar/tips.jpg" alt="Gambar Tips">
            </div>
           </a>
          
           <a href="/tips" class="kotak_tips">
            <div class="deskripsi_tips">
               <p>Tips 4: eruvbtivthbeituvhnekj</p>
            </div>
            <div class="gambar_tips">
               <img src="/gambar/tips.jpg" alt="Gambar Tips">
            </div>
           </a>

        </div>

        <div class="button-container">
          <a href="/home" class="kembali">KEMBALI</a>
          <a href="/home" class="keluar">KELUAR</a>
        </div>
      
    </div>
</body>
</html>
